



body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
/* Animation for chevron */
.animate-bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}


.hero-section {
    margin-top: 0px; /* Adjust for fixed navbar */
}

/* Mobile responsiveness adjustments */
@media (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    nav {
        padding: 10px;
    }
    
    nav img {
        height: 30px;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 1.5rem;
    }
    
    .grid {
        grid-template-columns: 1fr;
    }
    
    .fixed {
        display: none;
    }
}

.container-logo-contacto {
    display: flex
;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    z-index: 1000;
}

.container-logo-contacto img {
    transition: transform 0.3s ease;
  }
  
  .container-logo-contacto img:hover {
    transform: scale(1.25);
  }

body img {
    transition: transform 0.3s ease;
}

body img:hover{
    transform: scale(1.25);
}


.loader-animation {
    display: none;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    margin-top: 20rem;
  }
  .show_loader {
    display: flex !important;
  }
  .loader-animation > div {
    width: 1.5rem;
    height: 1.5rem;
    margin: 3rem 0.5rem;
    border-radius: 50%;
    background-color: black;
    animation: loader-animation 0.6s infinite alternate;
  }
  @keyframes loader-animation {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  .loader-animation > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loader-animation > div:nth-child(3) {
    animation-delay: 0.4s;
  }
  .ocult-app {
    display: none;
  }
  .view-app {
    display: block !important;
  }